body {
  font-family: "Vibur", cursive;
  background-color: #010a01;
  text-align: center;
}

h1 {
  font-weight: lighter;
  font-size: 100px;
  color: #fff;
  color: #fff;
  /* prettier-ignore */
  text-shadow:
      0 0 1px #fff,
      0 0 3px #fff,
      0 0 7px #0fa,
      0 0 9px #0fa,
      0 0 13px #0fa;
  animation: flicker 7s infinite alternate;
}
/* prettier-ignore */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 7px #0fa,
      0 0 9px #0fa,
      0 0 13px #0fa;
  }
  20%, 24%, 55% {       
text-shadow:
      0 0 5px #fff,
      0 0 7px #fff,
      0 0 11px #0fa,
      0 0 13px #0fa,
      0 0 15px #0fa;
  }
}

/* prettier-ignore */
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    box-shadow: 
              0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
  }
  0% {
    /* Smaller blur radius */
    box-shadow: 
              0 0 .4rem #fff,
              0 0 .4rem #fff,
              0 0 4rem #bc13fe,
              0 0 1.5rem #bc13fe,
              0 0 5rem #bc13fe,
              inset 0 0 2.5rem #bc13fe;
  }
}

#main-container {
  display: flex;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  /* prettier-ignore */
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
  animation: pulsate 5s ease-in-out infinite alternate;
}

.card-container {
  text-align: center;
  height: 200px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-image {
  width: 8vw;
  /* prettier-ignore */
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ffffff;
}

.card {
  margin: 20px;
  padding: 10px;
  background-color: white;
  border: solid 2px;
  border-color: black;
  width: 50px;
  height: 80px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 2px 2px 10px black;
}
.suit {
  margin: 5px;
  font-size: 20px;
}

.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}
.black {
  color: black;
}

.selected {
  border: solid 3px red;
}
