body {
  font-family: "Vibur", cursive;
  background-color: #010a01;
  background-image: url(https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png);
  background-size: contain;
  text-align: center;
}

h1 {
  font-weight: lighter;
  font-size: 7vh;
  color: #fff;
  color: #fff;
  /* prettier-ignore */
  text-shadow:
      0 0 1px #fff,
      0 0 5px #0fa,
      0 0 7px #0fa;
  animation: flicker 7s infinite alternate;
}
/* prettier-ignore */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 1px #fff,
      0 0 3px #fff,
      0 0 5px #0fa,
      0 0 7px #0fa,
      0 0 9px #0fa;
  }
  20%, 24%, 55% {       
text-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 7px #0fa,
      0 0 9px #0fa,
      0 0 13px #0fa;
  }
}

/* prettier-ignore */
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    box-shadow: 
              0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
  }
  0% {
    /* Smaller blur radius */
    box-shadow: 
              0 0 .3rem #fff,
              0 0 .3rem #fff,
              0 0 2.5rem #bc13fe,
              0 0 1rem #bc13fe,
              0 0 3.5rem #bc13fe,
              inset 0 0 2.5rem #bc13fe;
  }
}

#main-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  background: navy;
  height: 70vh;
  width: 60vw;
  margin: auto;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  /* prettier-ignore */
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #000000;
  animation: pulsate 1s ease-in-out infinite alternate;
}

.crt {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  pointer-events: none;
  background-image: url(/video-poker/img/crt3.png);
  opacity: 0.6;
  background-size: cover;
}

#score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  height: 40vh;
  color: white;
  border-style: double;
  border-color: white;
  border-radius: 3%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.4rem #fff, 0 0 1rem #fff;
}

table {
  max-height: 30vh;
  border-collapse: collapse;
}
table tr:nth-child(2n) {
  background: transparent;
}
table tr:nth-child(2n-1) {
  background: #0077ff;
}
caption {
  display: table-caption;
  text-align: center;
  font-size: 3vh;
}

tbody {
  display: table-row-group;
  text-align: left;
  border: none;
}
th {
  font-size: 2.5vh;
  padding-left: 0.5vw;
}
td {
  line-height: 3.5vh;
  font-size: 3vh;
  padding-left: 0.5vw;
  min-width: 5.5vw;
  border: none;
  background: inherit;
}

.winning-row {
  border: solid 3px gold;
  box-shadow: 0 0 0.1rem gold, 0 0 0.2rem gold;
  animation: rowpulsate 0.1s ease-in-out infinite alternate;
}

/* prettier-ignore */
@keyframes rowpulsate {
  100% {
    background: darkgreen;
    /* Larger blur radius */
    box-shadow: 
              0 0 .4rem lightgreen,
              0 0 .6rem yellowgreen,
              0 0 .9rem gold,
              0 0 3rem gold;
  }
  0% {
    background: green;
    /* Smaller blur radius */
    box-shadow: 
              0 0 .2rem lightgreen,
              0 0 .4rem yellowgreen,
              0 0 .7rem gold,
              0 0 2rem gold;
  }
}

#bet-container {
  width: 28vw;
  height: 40vh;
  color: white;
  display: flex;
  flex-direction: column;
  /* prettier-ignore */
  border-style: double;
  border-color: white;
  border-radius: 3%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.4rem #fff, 0 0 1rem #fff;
}

#credit-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#credits-remaining {
  font-family: "Vibur", cursive;
  font-size: 8vh;
}

.credit-increase {
  color: green;
  animation: disappearGreen 2s ease-out forwards;
}

.credit-decrease {
  color: red;
  animation: disappearRed 2s ease-out forwards;
}
.animate {
  animation: disappear 2s ease-out forwards;
}

@keyframes disappearRed {
  100% {
    color: transparent;
  }
  0% {
    color: red;
  }
}
@keyframes disappearGreen {
  100% {
    color: transparent;
  }
  0% {
    color: green;
  }
}

.bet-button {
  position: relative;
  margin: 0 1vw;
  bottom: 1vh;
  background-color: rgb(83, 235, 255);
  border-radius: 30%;
  height: 3vw;
  width: 3vw;
  font-size: 0.5em;
  box-shadow: 0 0.15vw #999;
}

.bet-button:hover {
  cursor: pointer;
  font-weight: bolder;
  box-shadow: 0 0 0.3rem #fff, 0 0 0.4rem #fff, 0 0 0.7rem #fff;
}

#add-bet:active {
  background-color: #3e8e42;
  box-shadow: 0 5px #666;
  transform: translateY(0.2vh);
}
#sub-bet:active {
  background-color: #8f3939;
  box-shadow: 0 5px #666;
  transform: translateY(0.2vh);
}

#dealBtn {
  font-family: "Vibur", cursive;
  position: relative;
  background-color: rgb(83, 235, 255);
  border-radius: 30%;
  height: 5vw;
  width: 10vw;
  font-size: 0.7em;
  box-shadow: 0 0.15vw #999;
}

#dealBtn:hover {
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 0.3rem #fff, 0 0 0.4rem #fff, 0 0 0.7rem #fff;
}

#dealBtn:active {
  background-color: #233eb9;
  color: white;
  box-shadow: 0 0.15vw #666;
  transform: translateY(0.3vh);
}

.card-container {
  border-radius: 3%;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding: 1vw;
}

.card-image {
  max-width: 10vw;
  /* prettier-ignore */
  box-shadow: 0 0 .2rem #fff,
              0 0 .4rem #fff,
              0 0 2rem #ffffff;
  animation: floating 1s ease-in-out infinite alternate;
}

/* prettier-ignore */
@keyframes floating {
  100% {
  }
  0% {
    transform: translateY(0.5em);
  }
}

/* prettier-ignore */
.card-image:hover {
  transform: translateY(-0.5em);
  cursor: pointer;
  box-shadow: 0 0 .3rem white,
              0 0 .4rem lightgreen,
              0 0 3rem yellowgreen;
  animation: none;
}
/* prettier-ignore */
.selected {
  transform: translateY(-0.5em);
  max-width: 10vw;
  box-shadow: 0 0 .3rem lightgreen,
              0 0 .4rem limegreen,
              0 0 1rem limegreen,
              0 0 3rem green,
              0 0 5rem green;
  animation: none;
}
/* prettier-ignore */
.selected:hover {
  box-shadow: 0 0 .4rem lightgreen,
              0 0 .5rem limegreen,
              0 0 4rem green;
}

.replaced {
  max-width: 10vw;
  /* prettier-ignore */
  box-shadow: 0 0 .2rem red,
              0 0 .4rem red,
              0 0 2rem red;
  animation: loseglow 1s ease-in-out infinite alternate;
}
.win {
  max-width: 10vw;
  /* prettier-ignore */
  box-shadow: 0 0 .2rem lightgreen,
              0 0 .4rem yellowgreen,
              0 0 .7rem gold,
              0 0 2rem gold;
  animation: winglow 0.5s ease-in-out infinite alternate;
}

/* prettier-ignore */
@keyframes winglow {
  100% {
    /* Larger blur radius */
    box-shadow: 
              0 0 .4rem lightgreen,
              0 0 .6rem yellowgreen,
              0 0 .9rem gold,
              0 0 3rem gold;
  }
  0% {
    /* Smaller blur radius */
    box-shadow: 
              0 0 .2rem lightgreen,
              0 0 .4rem yellowgreen,
              0 0 .7rem gold,
              0 0 2rem gold;
  }
}

#bet-container {
  justify-content: space-evenly;
  font-size: 5vh;
}

* {
  box-sizing: border-box;
}
